{{page-title "Date"}}

<div class="content-section">
  <CalendarDatePicker
    @selectedDate={{@model.date}}
    @allDates={{@model.allCalendarDates}}
    @onDateSelected={{this.onDateSelected}}
  />
</div>

{{#if @model.dateMetadata}}

  <div class="content-section">
    <CalendarDayDescription
      @model={{@model.dateMetadata}}
    />
  </div>  

{{/if}}

{{#if @model.availableOwnerIds}}

  <div class="content-section">

    <div class="row align-items-center">
      <div class="col-auto">
        <i class="bi-filter-circle text-primary"></i>
        {{t "dashboard.filter"}} :
      </div>
      <div class="col pl-0">
        <InputOwners
          @availableOwnerIds={{@model.availableOwnerIds}}
          @selectedOwnerIds={{@model.selectedOwnerIds}}
          @onOwnerSelected={{this.onOwnerSelected}}
        />
      </div>
    </div>
  </div> 

{{/if}}

<div class="content-section">
  <CalendarTimeslotList
    @date={{@model.date}}
    @timeslots={{filter 
      (fn 
        this.filterTimeslotsByOwner 
        @model.availableOwnerIds 
        @model.selectedOwnerIds
      ) 
      @model.timeslots
    }}
    @selectedOwnerIds={{@model.selectedOwnerIds}}
    @onTimeslotSelected={{this.onTimeslotSelected}}
  />
</div>

