{{page-title "Timeslot"}}

<div class="content-section">
  <TimeslotHeader
    @model={{@model.timeslot}}
    @onDelete={{fn this.onDelete @model.timeslot}}
    @onBack={{fn this.onBack @model.timeslot}}
    @onSave={{fn this.onSave @model.timeslot}}
  />
</div>

<div class="content-section">
  <TimeslotForm
    @model={{@model.timeslot}}
  />
</div>