<div class="row">
  <div class="col">

    <button type="button" class="btn btn-light {{if (eq @selectedDate @allDates.firstObject) "disabled"}}" {{on "click" (fn @onDateSelected @allDates.firstObject)}}>
      <div class="bi-arrow-left-short text-secondary"></div>
    </button>

    <button type="button" class="btn btn-outline-secondary" {{on "click" (fn @onDateSelected @selectedDate)}}>
      {{@selectedDate}}
    </button>

    <button type="button" class="btn btn-light {{if (eq @selectedDate @allDates.lastObject) "disabled"}}" {{on "click" (fn @onDateSelected @allDates.lastObject)}}>
      <i class="bi-arrow-right-short text-secondary"></i>
    </button>
    
  </div>
</div>