<div class="content-section">
  <CalendarDatePicker
    @selectedDate={{@model.selectedDate}}
    @allDates={{@model.allCalendarDates}}
    @onDateSelected={{this.onDateSelected}}
  />
</div>

<div class="content-section">
  <CalendarDayView
    @date={{@model.selectedDate}}
    @timeslots={{filter-by "date" @model.selectedDate @model.timeslots}}
    @onTimeslotSelected={{this.onTimeslotSelected}}
  />
</div>

